<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jozz.venus.mapper.PrivateMsgDelayDao">


    <select id="selectByUserId" parameterType="com.jozz.venus.domain.PrivateMsgDelay" resultType="com.jozz.venus.domain.PrivateMsgDelay">
        select
        *
        from t_private_msg_delay t
        where t.to_id = #{userId} order by create_time
    </select>

    <insert id="insert" parameterType="com.jozz.venus.domain.PrivateMsgDelay" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_private_msg_delay (
        from_id,to_id,payload,create_time
        ) VALUES (
        #{fromId},#{toId},#{payload},#{createTime}
        )
    </insert>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from t_private_msg_delay where id = #{id}
    </delete>
</mapper>